<div class="center-content" data-ng-init="showStep = 0">
  <header>
    <img data-ng-click="showStep=showStep+1"src="https://prerender.io/img/angularjs.jpg" style="max-height:200px"
  </header>
  
  <section class="animate-intro" ng-show="showStep==1">
    <h3>is a powerful tool</h3>
    <img src="http://www.swissarmy.com/medias/sys_master/8844477693982.jpg"/>
  </section>
  
  <section class="animate-intro" ng-show="showStep==2">
    <h3>that makes HTML smarter.</h3>
    <img src="http://www.wpclipart.com/medical/anatomy/brain/brain_2/brain_as_gears.png" style="max-height:140px"/>
  </section>
  
  <section class="animate-intro" ng-show="showStep==3">
    <h3>It can be used to make a whole site</h3>
  </section>
  
  <section class="animate-intro" ng-show="showStep==3">
    <h3>or just sprinkled in where needed.</h3>
  </section>
  
  <section class="animate-intro" ng-show="showStep==4">
    <h1>Features include:</h1>
    <h3>MVC(MVVC) &bull; Write Valid, Descriptive HTML &bull; Testable</h3>
  </section>
  
  <section class="animate-intro" ng-show="showStep==5">
    <img src="http://sidoxia.files.wordpress.com/2012/10/apple-pie.jpg" style="max-height:120px"/>
    <h3>Let's have a look at some of the baked-in features!</h3>
    <h5>This concludes the cheesy slideshow portion of our presentation</h5>
  </section>
</div>